header{
  width:100%;
  height:40px;
  background-color:rgba(84,190,238,0.5);
  position: fixed;
  top:0;
  z-index: 10;
  align-items: center;
}

body{
  margin:0;
}

p{
  margin:0;
}

li{
  list-style-type: none;
}

header{
  display: flex;
  z-index: 10;
}

.headerright{
  margin:0 0 0 auto;
  padding-right:10px;
}

.headerright ul{
  margin:0;
  display:flex;
}

.headerright ul li{
  padding-left:10px;
}

.main{
  padding-top:40px;
  display: flex;
  height:1000px;
}

.aside{
  background-color: burlywood;
  flex:0 0 240px;
}

.content{
  background-color:darkorange;
  flex:auto;
}

.content a{
  text-decoration: none;
}

/*.btn{
  width:120px;
  height:30px;
  margin:10px 0 10px 10px;
  padding-left:auto;
  padding-right: auto;
  background-color: chartreuse;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px black;
}*/

/*.btn:hover{
  background-color: crimson;
}*/
/*ホバーした時に色変更*/

/*.btn:active{
  position: relative;
  background-color: red;
  top:5px;
  box-shadow: none;
}*/


.btn p{
  line-height:30px;
  font-size: 8px;
}

.box1{
  width:200px;
  height:200px;
  margin:10px auto;
  background-color: darkcyan;
  transition:all 10s;
}

.promo{
  width:500px;
  height:300px;
  margin:100px 0 0 100px;
  background-image:url("../img/card-image2@2x.jpg");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promo p{
  color: white;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  cursor: pointer;
  display: block;
}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .headerright{ 
    background-color: brown;
    display:none;
  }
}
